{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    {% if request.user.is_authenticated %}
        <a href="{% url 'create outfit-photo' %}" class="add-btn">Add Photo</a>
    {% endif %}
    {% for p in photos %}
        {% if p.outfit_id_id == outfit.pk %}
            <div class="row">
            <div class="col">
                <img id="outfit-photo" src="{{ p.photo }}" alt="Outfit Photo">
                <p class="description">Description: {{ p.description }}</p>
                <time class="publication date">Upload : {{ p.publication_date }}</time>
                <p class="likes">Likes : {{ p.likes_count }}</p>
                <p class="dislikes">Dislikes : {{ p.dislikes_count }}</p>
                <p class="price">Price : {{ p.price }}</p>

                {% if request.user.is_authenticated %}
                    <!-- Button to the Photo Details Page -->
                    <div class="links">
                        {% if user.id == outfit.user_id and p.outfit_id_id == outfit.id %}
                            <a href="{% url 'edit outfit-photo' p.pk %}" class="btn">Edit</a>
                            <a href="{% url 'delete outfit-photo' p.pk %}" class="btn">Delete</a>
                        {% else %}
                            <a href="{% url 'like outfit photo' p.pk %}" class="btn">Like</a>
                            <a href="{% url 'dislike outfit photo' p.pk %}" class="btn">Dislike</a>
                            {#                            <a href="{% url 'comment outfit photo' p.pk %}" class="btn">Comment</a>#}
                        {% endif %}

{#                        <div class="card-body">#}
{#                            <h5>Comments</h5>#}
{#                        </div>#}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}
</div>


{% endblock %}