{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <h1 class='text-center'>
        {% if outfit_photos %}
            All Outfits
        {% else %}
            No Outfits
        {% endif %}
    </h1>

    {% if outfit_photos %}

        <div class="row">
            {% for outfit in outfit_photos %}
                <div class="column">
                    <h1 class="card-title">{{ outfit.name }}</h1>
{#                    <p class="card-category">Category : {{ outfit.category }}</p>#}
{#                    <p class="card-season">Season : {{ outfit.season }}</p>#}

                    {% if request.user.is_authenticated %}
                        <div class="links">
                            <a href="{% url 'outfit-photos' outfit.pk %}" class="btn">Photos</a>
                             <a href="{% url 'details outfit' outfit.pk %}" class="btn">Details</a>
                            {#                        {% if is_owner %}#}
{#                            <a href="{% url 'edit outfit' outfit.pk %}" class="btn">Edit</a>#}
{#                            <a href="{% url 'delete outfit' outfit.pk %}" class="btn">Delete</a>#}
                            {#                        <a href="{% url 'create outfit-photo' %}" class="btn">Add</a>#}
                            {#                        {% endif %}#}
                        </div>
                    {% endif %}
                </div>
                {% if forloop.counter|divisibleby:'3' %}
                    </div>
                    <div class="row">
                {% endif %}

            {% endfor %}
            </div>

    {% else %}
        <div class="add-div">
            {% if request.user.is_authenticated %}
                <a href="{% url 'create outfit' %}" class="add">Add Outfit</a>
            {% endif %}
        </div>
    {% endif %}



{% endblock %}