{% extends 'base.html' %}
{% load static %}
{% block page_content %}

    {% if request.user.is_authenticated %}
        <a href="{% url 'create outfit-photo' %}" class="add-btn">Add Photo</a>
    {% endif %}

    {% if photos %}

        <div class="row">
            {% for p in photos %}
                <div class="column">
                    <img id="outfit-photo" src="{{ p.photo }}" alt="Outfit Photo">

                    {% if request.user.is_authenticated %}
                        <div class="links">
                            <a href="{% url 'details photo' p.pk %}" class="btn">Details</a>
                        </div>
                    {% endif %}
                </div>
                {% if forloop.counter|divisibleby:'3' %}
                    </div>
                    <div class="row">
                {% endif %}

            {% endfor %}
            </div>

    {% endif %}



{% endblock %}