{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <h1 class='text-center'>
        {% if outfits %}
            All Outfits
        {% else %}
            No Outfits
        {% endif %}
    </h1>

    {% if outfits %}

        <div class="row">
            {% for outfit in outfits %}
                <div class="column">
                    <h1 class="card-title">{{ outfit.name }}</h1>
                    <p class="card-category">{{ outfit.category }}</p>
                    <p class="card-season">{{ outfit.season }}</p>
                    <!-- Button to the Photo Details Page -->
                    <div class="links">
                        <a href="{% url 'outfit-photos' outfit.pk %}" class="btn">Photos</a>
                        {#                        {% if is_owner %}#}
                        <a href="{% url 'edit outfit' outfit.pk %}" class="btn">Edit</a>
                        <a href="{% url 'delete outfit' outfit.pk %}" class="btn">Delete</a>
{#                        <a href="{% url 'create outfit-photo' %}" class="btn">Add</a>#}
                        {#                        {% endif %}#}
                    </div>
                </div>
                {% if forloop.counter|divisibleby:'3' %}
                    </div>
                    <div class="row">
                {% endif %}

            {% endfor %}
            </div>

    {% else %}
        <div class="add-div">
            {% if request.user.is_authenticated %}
                <a href="{% url 'create outfit' %}" class="add">Add Outfit</a>
            {% endif %}
        </div>
    {% endif %}



{% endblock %}