{% extends 'base.html' %}
{% load static %}
{% block page_content %}

    <div class="container-inline">
        <section id="welcomePage">
            <div id="welcome-message">
                <h1> Welcome to Outfit App !</h1>
            </div>
        </section>


        <section id="registerPage">
            <form action="{% url 'create profile' %}" method="post">
                <fieldset>
                    <legend>Profile</legend>
                    {{ form }}
                    {% csrf_token %}
                    <button type="submit" class="register">Enter</button>
                </fieldset>
            </form>
        </section>
    </div>
{% endblock %}