fieldset {
  margin: 1em auto;
  padding: 2em;
  width: 25em;
  border-radius: 2px;
  border-color: #eb9898;
  background: #eb9898;
  box-shadow: 0 2px 2px #693646;
}

fieldset legend{
  font-weight: 700;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  padding: 0.5em;
  color: white;
  background: #693646;
  -o-border-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #2d333b 50%) 1 round;
  border-width: 1px;
  border-style: solid;
  display: block;
  width: 100%;
  margin: 0 auto;
}

input{
  border: solid #693646;
  display: inline-block;
}