.row {
    display: table;
    width: 100%;
    table-layout: auto;
    border-spacing: 10px;
}

.card-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #693646
}

.card-category {
    color: #693646
}

.card-season {
    color: #693646
}

.column {
    display: table-cell;
    background-color: #e08080;
    height: 50%;
}

.add {
    background-color: #eb9898;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    /*display: block;*/
    font-size: 15px;
}

.add-div {
    display: table-cell;
    margin-right: auto;
    margin-left: auto;
}

#outfit-photo {
    width: 300px;
    height: auto;
    padding-top: 15px;
    padding-right: 15px;
}

.col {
    display: table-cell;
    background-color: #f6cec5;
    height: 50%;
}

.add-btn {
    background-color: #eb9898;
    border: #674650;
    border-radius: 10px;
    color: white;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    width: 20%;
    margin: 10% 30% 10% 40%;
}